@import "variable";

.header-container {
  h1 {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid $bg-color;
  }

  .menu-item {
    a {
      padding: 30px 36px 30px 0;
      color: $main-color;
      text-transform: uppercase;
      font-size: 18px;

      &:hover, &:focus, &:active {
        background-color: transparent;
        color: $green-color;
      }
    }
  }
}

.page-template-home-template {
  .main-header {
    background: url("./images/header-bg.png") no-repeat;
    height: 100vh;
  }

  .menu-item {
    a {
      color: #fff;
      padding: 30px 36px 0 0;
    }
  }

  .custom-logo {
    filter: brightness(250%);
  }

  .header-content {
    text-align: center;
    padding-bottom: 10px;

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 36px;
      margin-top: 100px;
    }

    p {
      color: #fff;
      font-size: 22px;
      margin-bottom: 40px;
    }

    .main-btn {
      background-color: transparent;
      border: 2px solid #fff;
    }
  }
}

@media (max-width: 370px) {
  .page-template-home-template {

    .menu-item {
      a {
        color: #fff;
        padding: 10px 16px 0 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .page-template-home-template {

    .header-content {
      h1 {
        margin-top: 0;
      }
    }
  }
}