@import "variable";

.home {
  section {
    padding: 50px 0;
  }

  .about {
    text-align: center;

    .container {
      border-bottom: 1px solid $bg-color;
    }

    h2 {
      font-size: 22px;
      color: $main-color;
      text-transform: uppercase;
    }

    .content {
      font-size: 16px;
      color: $light-color;
      line-height: 24px;
    }

    .tptn_counter {
      display: none;
    }
  }
}