@import "variable";

.widget-area {
  .widget-title {
    font-size: 18px;
    color: $main-color;
    text-transform: uppercase;
    margin: 0 0 26px 0;
  }

  .widget {
    margin-bottom: 44px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li, a {
      font-size: 16px;
      color: $light-color;
    }
  }

  .tptn_posts_widget {
    li {
      padding: 10px 0;
      border-bottom: 1px solid $bg-color;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}