@import "variable";
@import "header";
@import "home";
@import "blog";
@import "sidebar";
@import "footer";

.page-title {
  background: url("./images/bg.png");
  background-size: cover;

  h2 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin: 30px 0;
  }
}

.green-text {
  color: $green-color;
}

.main-btn {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: $green-color;
  padding: 14px 18px;
}

.tptn_counter {
  display: none;
}